.item {
    border: 2px #B9B9B9 solid;
    margin-top: 2rem;
    padding: 5px 0;
    border-radius: 1.4em;
}
.item_header {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}
.header {
    display: grid;
    grid-template-columns: 10% auto auto auto;
    font-size: 1rem;
}