.main {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.item {
    border: 2px #5C3D26 solid;
    margin-top: 2rem;
    padding: 30px;
    border-radius: 1em;
    background-color: #FFF;
    width: 100%;
    overflow: hidden;
    border-spacing: 0;
}

.item_header {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.row {
    border: none;
}


.data {
    padding: 12px 25px;
    text-align: left;
    border: none;
}

.row:nth-child(even) {
    background-color: #ececec;
}

.row:last-child .data {
    border-bottom: none;
}