.main {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.add {
    margin-left: 0;
    width: fit-content;
    height: fit-content;
}

.add_button {
    width: 40px;
    height: 40px;
    background-image: url(add-button.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-color: transparent;
    border: none;
    margin-left: 0;
    cursor: pointer;
}

.delete_button {
    width: 40px;
    height: 40px;
    background-image: url(minus.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-color: transparent;
    border: none;
    margin-left: 0;
    cursor: pointer;
}

.sort {
    margin-top: 30px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 2em;
    border: 2em;
    background-color: #B19580;
    line-height: 3rem;
    border-radius: 1em;
    /*position: fixed;*/
}

.date {
    padding: 7px 13px;
    border-radius: 10px;
    border: solid #5C3D26 1px;
    cursor: pointer;
    background-color: #FFF;
}

.items {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.marge {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.item {
    border-spacing: 0;
    border: 2px #5C3D26 solid;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 1em;
    background-color: #FFF;
    width: auto;
    overflow: hidden;
}

.row {
    border: none;
}

.data {
    padding: 12px 25px;
    text-align: left;
    border: none;
}

.row:nth-child(even) {
    background-color: #ececec;
}

.row:last-child .data {
    border-bottom: none;
}