.main {
    margin-top: 2rem;
}
.sort {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    border: 2em;
    background-color: #B19580;
    line-height: 3rem;
    border-radius: 1em;
    /*position: fixed;*/
    
}
.date {
    padding: 7px 13px;
    border-radius: 10px;
    border: solid #5C3D26 1px;
    cursor: pointer;
    background-color: #FFF;

}
.items {
    text-align: center;
    justify-content: center;
    margin: auto;
}
.item {
    border: 2px #5C3D26 solid;
    padding: 15px 20px;
    border-radius: 1.4em;
    background-color: #FFF;
    text-align: center;
    justify-content: center;
    margin: 2rem auto 0;
}
.row {
    border: #5C3D26 solid 1px;
}

.data {
    padding-bottom: 15px;
    padding: 25px;
    text-align: left;
    border-bottom: #5C3D26 solid 1px;
}